/* Author:  Timothy Field */

/*--------------------------------
        FONTS FROM GOOGLE          
---------------------------------*/

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*--------------------------------
            Animations          
---------------------------------*/

@keyframes lightBoom {
    from {
        background: url(images/light.jpg)
    }
    to {
        background: url(images/light.jpg)
    }
}

@keyframes blink {
    0% {
        text-shadow: 1px 1px 12px rgb(255, 255, 255);
        color: #ED0000;
    }
    50% {
        text-shadow: 1px 1px 12px #ED0000;
        color: black;
    }
    100% {
        text-shadow: 1px 1px 12px rgb(255, 255, 255);
        color: #ED0000;
    }
}

/*--------------------------------
            Main CSS          
---------------------------------*/

* {
    color: white;
}

body {
    background: black url(images/bg10.png) no-repeat;
    background-attachment: fixed;
    margin: 0 1% 0 1%;
    padding: 5% 15% 10% 15%;
}

/* Main css grid */

.page-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "content content sidebar" "footer footer footer";
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px rgb(39, 39, 39);
    background: radial-gradient(rgba(45, 45, 44, 0.90), rgba(0, 0, 0, 0.90));
}

p {
    font-size: 15px;
    position: sticky;
}

.summary p {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

.intro {
    grid-area: header;
    width: fit-content;
}

.main {
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.425);
    grid-area: content;
    width: fit-content;
    margin: 10px;
}

.preamble {
    transition: all .9s 1s ease;
}

.preamble:hover {
    border: 1px solid red;
    margin-top: 5%;
    background: black;
}

.main div {
    margin-bottom: 20px;
    transition: all .9s .2s ease;
}

.main div:hover {
    border: 1px solid red;
    margin-left: 5%;
    background: black;
    width: 90%;
}

.sidebar {
    grid-area: sidebar;
    width: fit-content;
    margin: 10px;
}

.wrapper {
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.425);
}

.wrapper div {
    transition: all .3s .2s ease;
    width: auto;
}

.wrapper div:hover {
    padding: 1%;
    border: white solid 1px;
    margin: 0px 15px;
    background: black;
}

h1,
h2 {
    color: #ED0000;
    display: block;
    font-size: 60px;
    font-family: "PT Serif", sans-serif;
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 45) 0px 0px 40px;
}

h3 {
    background: rgba(255, 255, 255, 0.05);
    color: #ED0000;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 25px;
    font-family: "PT Serif", sans-serif;
    padding: 0;
    margin: 10px auto;
    border-bottom: .4px solid rgba(255, 255, 255, 0.303);
    font-size: 30px;
}

div {
    background: linear-gradient(180deg, black, rgba(210, 0, 0, 0.12));
    font-size: 15px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 0px 5px 1px #ED0000;
}

/* Another grid inside the sidebar */

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto 1fr auto;
}

.wrapper h3 {
    font-size: 25px;
    text-align: center
}

.design-selection {
    grid-column: 1;
    grid-row: 1;
}

.design-archives {
    grid-column: 1;
    grid-row: 2;
}

.zen-resources {
    grid-column: 1;
    grid-row: 3;
}

header {
    background: rgb(0, 0, 0);
    animation: lightBoom 1s 1 5.5s;
}

header,
footer {
    background: url(images/bg6.png);
    display: block;
    padding: 1em;
    clear: left;
    text-align: center;
    box-shadow: 0px 0px 7px 0px #ED0000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
    grid-area: footer;
    box-shadow: 0px 0px 10px 0px rgb(112, 112, 112);
    transition: height 1.5s;
}

footer:hover {
    height: 6%;
}

footer a {
    background: rgba(0, 0, 0, 0.83);
    font-weight: 100;
    font-size: 100%;
    padding: 0 7%;
    margin: 0 auto;
    border: white solid 1px;
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}

footer a:hover {
    font-size: 120%;
    border-radius: 250px;
    background: red;
    color: black;
    transition: all .7s ease .01s;
}

h2 abbr {
    text-decoration: none;
    color: black;
    font-family: "PT Sans", sans-serif;
    animation: blink .1s 65;
    text-shadow: 1px 1px 3px white;
}

h2 abbr:hover {
    text-shadow: 1px 1px 5px rgb(253, 253, 253);
}

abbr:hover,
a:hover {
    color: #ED0000;
}

/* Just hide presentation divs  */

[role="presentation"] {
    height: 0;
    visibility: hidden;
}

/*--------------------------------
    Devices smaller than 1200px 
---------------------------------*/

@media only screen and (max-width:1200px) {
    * {
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    p {
        font-size: small;
        position: sticky;
    }
    body {
        background: black;
        padding: 0;
    }
    /* Main Mobile css grid */
    .page-wrapper {
        padding: .2%;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 100%;
        grid-template-areas: " ..... header ....." " ..... content ....." " ..... footer ....." "..... sidebar .....";
        overflow: hidden;
        box-shadow: 0px 0px 5px 3px rgb(39, 39, 39);
        background: radial-gradient(rgba(45, 45, 44, 0.90), rgba(0, 0, 0, 0.90));
    }
    .intro {
        grid-area: header;
        width: fit-content;
    }
    .main {
        grid-area: content;
        width: fit-content;
        margin: 2px;
    }
    .main div {
        margin-bottom: 20px;
        transition: all 1.5s .2s ease;
    }
    .main div:hover {
        margin-left: 15px;
        width: 92%;
    }
    .sidebar {
        grid-area: sidebar;
        width: 100%;
    }
    .wrapper div {
        transition: all .3s .2s ease;
        width: auto;
    }
    .wrapper div:hover {
        padding: 1%;
        border: white solid 1px;
        margin: 0px 15px;
        background: black;
    }
    h1,
    h2 {
        font-size: 40px;
        display: block;
    }
    h3 {
        padding: 0;
        margin: 10px auto;
        border-bottom: .4px solid rgba(255, 255, 255, 0.303);
    }
    div {
        font-size: 15px;
        padding: 20px;
    }
    header {
        background: rgb(0, 0, 0);
        animation: lightBoom 1s 1 5.5s;
    }
    header,
    footer {
        display: block;
        padding: 10px;
        clear: left;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 98%;
        height: 5%;
        grid-area: 'footer';
    }
    footer:hover {
        height: 8%;
    }
    footer a {
        font-weight: 100;
        font-size: 100%;
        padding: 0 4%;
        margin: 10% 0;
    }
    [role="presentation"] {
        display: inline;
        visibility: hidden;
    }
}